@tailwind base;
@tailwind components;
@tailwind utilities;


h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 55px;
    line-height: 65px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight:200;
    /* Light */
    font-size: 20px;
    line-height: 24px;
}

ul {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    /* Light */
    font-size: 20px;
    line-height: 24px;
}

.p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    /* Light */
    font-size: 20px;
    line-height: 24px;
}

.h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 55px;
    line-height: 65px;
}