@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 80px;
    line-height: 90px;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 55px;
    line-height: 55px;
}

h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
}

ul {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    /* Light */
    font-size: 20px;
    line-height: 24px;
}

.h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 55px;
    line-height: 55px;
}

.h3 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    line-height: 36px;
}

.p {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
}

.css-r4d5p-MuiSvgIcon-root-MuiSelect-icon{
    -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
}